<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_style.css') }}">
</head>
<body>
    <div class="upload-container">
        <h2>Upload your files</h2>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="upload-form">
            <div class="upload-box" id="upload-box">
                <p>Drag & Drop</p>
                <p>Supported format files</p>
                <div class="file-icons">
                    <img src="{{ url_for('static', filename='images/doc.png') }}" alt="DOC">
                    <img src="{{ url_for('static', filename='images/pdf.png') }}" alt="PDF">
                </div>
                <input type="file" name="file" accept=".doc,.pdf" id="file-input" multiple>
                <label for="file-input" class="choose-files-btn">Choose Files</label>
            </div>
            <div id="file-name-display" style="font-family: Arial, sans-serif; text-decoration: none;"></div>
            <button id="uploadBtn" type="submit" class="upload-btn">
                <img id="processingGif" src="{{ url_for('static', filename='images/processing.gif') }}" alt="Processing" style="display: none; width: 20px; height: 20px; vertical-align: middle;">
                <span>Upload</span>
            </button>
            
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
